/* for header */
#header-wrapper {
	background: url(../imgs/header_bg.png) repeat-x;
	height: 70px;
	padding: 10px;
	box-shadow:0px 3px 4px #ccc;
}

#header {
	width: 950px;
	margin: 0 auto;
}

#header h1 {
	font-size: 2em;
	color: white;
	line-height: 70px;
	padding-left: 80px;
	background: url(../imgs/logo.png) no-repeat;
	width:500px;
	float: left;
}
/* end for header */

/* for content */
#content {
	width: 950px;
	margin: 0 auto;
}
/* end for content */

/* for footer */
#footer {
	width: 950px;
	margin: 0 auto;
	text-align: center;
	border-top: 1px #ddd solid;
	padding: 10px;
	color: #bbb;
}
/* end for footer */